body {
  --background: mediumseagreen;
  background: var(--background);
  --foreground: white;
  --highlight: powderblue;
  --text: black;
  --buttoninteract: #9DC7CC;
  --badge-invert-value: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .carousel {
    width: auto;
    height: auto;
  }
}

.carousel-caption {
  background-color: var(--foreground);
  color: var(--text);
  border-radius: 5px;
  padding: 5px;
}

.carousel-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodySection {
  background-color: var(--foreground);
  border-radius: 5px;
  margin: 0px;
  margin-bottom: 2vw;
}

.headerText {
  font-family: 'DM Mono', monospace;
  color: var(--text);
  font-size: x-large;
  margin-bottom: 10px;
}

.subheader {
  text-align: center;
}

.blackText {
  font-family: 'Quicksand', sans-serif;
  color: var(--text);
}

.card-header {
  background-color: var(--highlight);
}

.card-footer {
  background-color: var(--foreground);
}

.siteHeader {
  margin-top: 2%;
}

.linkText {
  font-size: x-large;
  margin: 5px;
  text-decoration: none;
  color: var(--text);
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
}

.linkCont {
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  align-items: center;
  justify-content: center;
}

.linkImg {
  margin: 5px;
  width: 50px;
  height: 50px;
}

.badgeBrightness {
  filter: invert(var(--badge-invert-value));
}

.theme-switcher {
  background-color: var(--highlight);
  color: var(--text);
  border-color: var(--highlight);
}

.theme-switcher:active {
  background-color: var(--buttoninteract);
  border-color: var(--buttoninteract);
  color: var(--text);
}

.theme-switcher:hover {
  background-color: var(--buttoninteract);
  border-color: var(--buttoninteract);
  color: var(--text);
}

.theme-switcher:focus {
  background-color: var(--buttoninteract);
  border-color: var(--buttoninteract);
  color: var(--text);
}

.badges {
  width: 100%;
  height: auto;
}

.homeHeading {
  text-align: center;
}

.codeWarsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.codewarsImg {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.btn {
  background-color: var(--highlight);
  color: var(--text);
  border-color: var(--highlight);
}

.btn:active {
  background-color: var(--buttoninteract);
  border-color: var(--buttoninteract);
  color: var(--text);
}

.btn:hover {
  background-color: var(--buttoninteract);
  border-color: var(--buttoninteract);
  color: var(--text);
}

.btn:focus {
  background-color: var(--buttoninteract);
  border-color: var(--buttoninteract);
  color: var(--text);
  outline:0 !important;
}

.accordion,
.accordion:active,
.accordion-header,
.accordion.collapse,
.accordion-body,
.accordion-button,
.accordion-item {
  border-color: var(--highlight);
}

.accordion-button,
.accordion-button.collapsed,
.accordion-button.expanded,
.accordion-button:not(.collapsed) {
  background-color: var(--highlight);
  color: var(--text);
  box-shadow: none !important;
}

.accordion-body {
  background-color: var(--foreground);
  color: var(--text);
}

@media only screen and (max-width: 767px) {
  .linkCont {
    display: flex;
    justify-content: space-between;
  }

}

@media only screen and (max-width: 991px) {

  .carousel-image {
    height: 323px;
    width: auto;
    border-radius: 5px;
  }

  .experienceBulletPoints {
    padding: 0;
  }
}


@media only screen and (max-width: 1199px) {

  .linkText {
    font-size: medium;
  }

}